<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1"> 
  <meta name="description" content="Paper Hero, a mobile game"> 
  <meta name="keywords" content="Paper Hero, IOS, Android, Paper Boy, Newspaper">
  <meta name="author" content="Alexandre Mondaini Calvão"> 
  <title>Paper Hero</title>  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<%=  %>
<body>
  <div class="container" style="width:960px;">
    <div id="top-bar" class="row">
      <div class="col-md-6">
        <%= image_tag "logo.png", width: "200" %>
      </div>
      <div class="col-md-6">
        <ul class="menu">
          <li><%= image_tag "screenshot.png" %></li>
          <li><%= image_tag "download.png" %></li>
          <li><%= image_tag "contact.png" %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div id="main-image" class="col-md-12"></div>
    </div>
    <div id="screenshots" class="row text-center">
      <div class="col-md-12">
        <%= image_tag "screenshots_big.png" %>
      </div>
      <div class="col-md-6">
        <%= image_tag "screenshot_1.png" %>
      </div>
      <div class="col-md-6">
        <%= image_tag "screenshot_3.png" %>
      </div>
      <div class="col-md-6">
        <%= image_tag "screenshot_2.png" %>
      </div>
      <div class="col-md-6">
        <%= image_tag "screenshot_4.png" %>
      </div>
    </div>
    <div id="download" class="row text-center">
      <div class="col-md-12 title">
        <%= image_tag "donwload_big.png" %>
      </div>
      <div class="col-md-6">
        <%= image_tag "app_store.png" %>
      </div>
      <div class="col-md-6">
        <%= image_tag "play_store.png" %>
      </div>
    </div>
    <div id="contact" class="row text-center">

      <div class="col-md-12 title">
        <%= image_tag "contact_big.png" %>
      </div>
      
      <script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef.replace(/(<([^>]+)>)/ig,'')).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-2099572.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>

    </div>
    <div id="social" class="row text-center">
      <div class="col-md-12 title">
        <%= image_tag "social_big.png" %>
      </div>
      <div class="col-md-12">
        <%= image_tag "facebook_icon.png" %>
        <%= image_tag "twitter_icon.png" %>
      </div>
    </div>
  </div>
</body>
</html>
